# Soal 1: Pemahaman Teori
Jelaskan perbedaan antara Univariate, Bivariate dan Multivariate Analysis

Jawaban:



---



---



---

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [ ]:
df = sns.load_dataset('penguins')
df

    species     island  bill_length_mm  ...  flipper_length_mm  body_mass_g     sex
0    Adelie  Torgersen            39.1  ...              181.0       3750.0    Male
1    Adelie  Torgersen            39.5  ...              186.0       3800.0  Female
2    Adelie  Torgersen            40.3  ...              195.0       3250.0  Female
3    Adelie  Torgersen             NaN  ...                NaN          NaN     NaN
4    Adelie  Torgersen            36.7  ...              193.0       3450.0  Female
..      ...        ...             ...  ...                ...          ...     ...
339  Gentoo     Biscoe             NaN  ...                NaN          NaN     NaN
340  Gentoo     Biscoe            46.8  ...              215.0       4850.0  Female
341  Gentoo     Biscoe            50.4  ...              222.0       5750.0    Male
342  Gentoo     Biscoe            45.2  ...              212.0       5200.0  Female
343  Gentoo     Biscoe            49.9  ...              213.0       5400.0    Male

[344 rows x 7 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     342 non-null    float64
 3   bill_depth_mm      342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                333 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB



---



---



---

# Soal 2. Persiapan Data

*   Hapus nilai missing dalam rows dataset menggunakan atribut.dropna()

*   Lakukan grouping data berdasarkan kolom 'species' dengan menggunakan agregasi mean()

In [ ]:
#code here

Expected output:

![tanpa handling missing value](https://drive.google.com/uc?id=1OnuXmscVRqduqT_TYI1vB291rpXM4D_1)


# Soal 3. Univariate Analysis
Buatlah sebuah analisa univariate dengan menggunakan perintah seperti berikut:

*   Buatlah sebuah Pie plot dari dataset hasil grouping untuk kolom flipper_length_mm seperti expected output berikut:
*   Buatlah sebuah plot histogram dari dataset awal (sebelum grouping) untuk kolom body_mass_g
*   Jelaskan insight yang diperoleh dari ke dua grafik tersebut.

In [2]:
#code here

Expected Output:


Pie Chart

![](https://drive.google.com/uc?id=11H6X7xpEeodPWD56tHBhV4sLrJ-6B-Bd)

Histogram

![](https://drive.google.com/uc?id=1A_twS7BbQhkGvUz7zAWgye7q3ZRTQkhi)

Analisa:



---



---



---

# Soal 4. Bivariate Analysis



*   Buatlah sebuah grafik catplot menggunakan seaborn dengan x='sex', y='bill_length_mm' dan kind 'bar' seperti expected output di bawah
*   Buatlah sebuah grafik scatter plot menggunakan seaborn dengan x='body_mass_g', y='flipper_length_mm', hue='bill_length_mm' seperti expected dibawah
*   Jelaskan insight yang diperoleh dari hasil analisa bivariate tersebut

In [ ]:
#code here

Expected Output:

Catplot

![](https://drive.google.com/uc?id=1imCbGD9cWqXUjd33tAh6D0OH20vVpWea)

Scatter plot

![](https://drive.google.com/uc?id=1_k734IpRYq6Q1wF57hwzSEjnVd2Sii2Z)

Analisa:



---



---



---

# Soal 5. Multivariate Analisis

*   Dengan menggunakan seaborn, buatlah sebuah pairplot keseluruhan data feature pada dataset (df) dengan argumen kind='bar', seperti expected di bawah:
*   Jelaskan hasil analisa dari multivariate yang dihasilkan

In [ ]:
#code here

Expected output:

Pair plot

![](https://drive.google.com/uc?id=1td8WAZLJEW5BPTq-wEJyZ4soRNNLXfqX)

Analisa:



---



---



---